{%  extends 'base.html'  %}
{%  block content  %}
<h1>Edit Message</h1>

<form action = "{{url_for('messages.msg_id', id=id, msg_id=msg_id )}}?_method=PATCH", method = 'POST'>

	{{ form.hidden_tag() }}
	{%  for form_field in form if form_field.widget.input_type != 'hidden' %}

	<p> {{form_field.label}}: {{form_field}}
		<span>
			{%  if form_field.errors  %}
				{%  for error in form_field.errors  %}
					{{error}}
				{%  endfor  %}
			{%  endif  %}
			</span>
	</p>

{%  endfor  %}
<button type='submit'>Submit Edits</button>

</form>

<button><a href = "{{url_for('messages.show', id=id)}}">Back To User Messages</a> </button>


<form action = "{{url_for('messages.msg_id', id=id, msg_id=msg_id)}}?_method=DELETE", method = 'POST'>
{{ form.hidden_tag() }}
<button type='submit'> Delete </button>
</form>

{%  endblock  %}